!!! 5
html(lang='en')
  include head
  body(ng-controller='AppCtrl')
    .wrapper
      .navbar.navbar-static-top.navbar-inverse
        .navbar-inner
          .container
            a(href='/').brand Todo Listo
            div(ng-include="'/partials/nav.html'")
      .container.main-content
        div(ng-view)
      .push

    //- include footer