button.toggle-recognition.btn.btn-large.btn-primary.btn-block(ng-class="{active: isTalking}", ng-click="toggleRecognition()")
    i.gen-enclosed.icon-mic.status-indicator  
  //- .progress.progress-striped.active(ng-hide="!isTalking")
  //-   .bar(style="width:100%")
hr
.row-fluid
  .span6
    h3.column-header(ng-class="{active:selectedColumn == 'ingredients'}")  Składniki
    p.well.well-small(ng-hide="ingredients.length")
      | Say "ingredients" to edit this column
    ol
      li(ng-repeat="ingredient in ingredients") 
        .well.well-small {{ingredient.text}}
  .span6
    h3.column-header(ng-class="{active:selectedColumn == 'tasks'}")  Przepis
    p.well.well-small(ng-hide="tasks.length")
      | Say "recipe" to edit this column
    p(ng-hide="!tasks.length").well.well-small
      span(ng-repeat="task in tasks") {{task.text}}
      span.interim{{interimText}}

.well.well-small(ng-hide="ingredients.length || tasks.length")
  h3  Available commands, are:
  hr
  ul
    li
      span My name is... or I am...
    li
      span ingredients
    li
      span recipe
    li
      span remove all
    li
      span notify
    li
      span stop
