
<buton ng-click="model.done = !model.done; update()" ng-class="{active:model.done}" class="done-btn btn btn-inverse"><i ng-class="{'icon-star':!model.done, 'icon-star-2':model.done}"></i>
</buton>
<div class="note-content-wrapper">
  <textarea ng-model="model.title" ui-focus="isActive = true" ui-blur="update(); isActive = false"></textarea>
  <div class="btn-group pull-right remove-wrapper">
    <button ng-click="remove()" class="btn btn-mini btn-danger remove-btn"><i class="icon-remove"></i></button>
  </div>
</div>