
<button ng-class="{active: isTalking}" ng-click="toggleRecognition()" class="toggle-recognition btn btn-large btn-primary btn-block"><i class="gen-enclosed icon-mic status-indicator"> </i></button>
<hr/>
<div class="row-fluid">
  <div class="span6">
    <h3 ng-class="{active:selectedColumn == 'ingredients'}" class="column-header"> Ingredients</h3>
    <p ng-hide="ingredients.length" class="well well-small">Say "ingredients" to edit this column</p>
    <ol>
      <li ng-repeat="ingredient in ingredients"> 
        <div class="well well-small">{{ingredient.text}}</div>
      </li>
    </ol>
  </div>
  <div class="span6">
    <h3 ng-class="{active:selectedColumn == 'tasks'}" class="column-header"> Recipe</h3>
    <p ng-hide="tasks.length" class="well well-small">Say "recipe" to edit this column</p>
    <p ng-hide="!tasks.length" class="well well-small"><span ng-repeat="task in tasks">{{task.text}}</span><span class="interim">{{interimText}}</span></p>
  </div>
</div>
<div ng-hide="ingredients.length || tasks.length" class="well well-small">
  <h3> Available commands, are:</h3>
  <hr/>
  <ul>
    <li><span>My name is... or I am...</span></li>
    <li><span>ingredients</span></li>
    <li><span>recipe</span></li>
    <li><span>remove all</span></li>
    <li><span>notify</span></li>
    <li><span>stop</span></li>
  </ul>
</div>